@font-face{
	font-family: HelveticaNeue-Bold;
	src:url(../fonts/HelveticaNeue-Bold.ttf) ;
}
@font-face{
	font-family: HelveticaNeue-Light;
	src:url(../HelveticaNeue-Light.ttf) ;
}
@font-face{
	font-family: HelveticaNeue;
	src:url(../fonts/HelveticaNeue.ttf);
}

body{
	font-family: HelveticaNeue;
}

.contentData ul {
	list-style: none;
	margin-bottom: 5%;
	margin-left: -3%;
}

.contentData ul li {
	float: left;
	margin-right: 2%;
	font-size: 14pt;
	cursor: pointer;
	color: #333;
}





.contentData ul li span {
	color: #463CD7;
}

.contentLine {
	height: .5px;
	width: 100%;
	color: #cbcfd6 !important ;
	background-color: #cbcfd6 !important ;
}

.profilName {
	font-family: HelveticaNeue-Bold;
	font-size: 14pt;
	margin-top: 2%;
}

.block {
	cursor: pointer;
}

.profilePic {
	border-radius: 5px;
}










                                  /* responsive part /*

/* Large screens ----------- */
@media only screen  and (max-width : 1920px) {

}

/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1440px) {

}

@media only screen  and (max-width : 1024px) {
	}



/*iPad 3 */
@media only screen and (max-device-width : 768px)  {
 .contentData2 {
    margin-top: 5%;
    margin-bottom: 10%;
}


}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.contentData2 ul li {
	float: none;
}

.dropdownStyle  {
	margin-top: 10%;
}
}

.list{
  float: none;
}
