<template>
  <div  class="container">
    <div class="row">
      <user></user>

      <div class="col-md-9 col-xs-12 contentData2 contentData ">

      <div class="col-sm-7 col-xs-12">
          <input type="text" class="form-control col-xs-6" placeholder="Search">
        </div>
        <div class="col-sm-2 col-xs-3">
          <div class="dropdown dropdownStyle ">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type:All
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-3">
          <div class="dropdown dropdownStyle  ">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Language:All
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-xs-6"></div>
        </div>


        <div v-for="repo in repos">

          <div class="col-xs-3">
            <img style="width: 150px;" v-bind:src="repo.owner.avatar_url" alt=""/>
          </div>
          <div class="col-xs-9">
          <a href="">
            <h3>{{repo.name}}</h3>
          </a>
          <p>{{repo.description}}</p>
          <p v-if="repo.license">License: {{repo.license.name}}</p>
            <ul>
              <li><a v-bind:href="'/repo_lang/'+repo.name+'/get'">View Languages</a></li>
              <li>&nbsp; &nbsp; &nbsp;updated on {{repo.updated_at}}</li>
            </ul>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="contentLine">
          </div>
        </div>
      </div>


      </div>
    </div>
  </div><!-- container -->
</template>

<script>
export default {
  name:'Users',

  data() {
    return {
      repos:[
      ]
    }
  },
  methods:{


  },
  created:function() {
    this.$http.get('https://api.github.com/users/heremaps/repos')
      .then(function(response){
        this.repos = response.data;
        console.log(response.data[0].license.name);
      })
    console.log('Created Ran...');
  }
}


</script>
