<template>
  <div class="repolangquery">
  <div  class="container">
  <div class="row">
    <user></user>
  <div class="col-md-9 col-xs-12 ">
    <h3>{{this.$route.params.name}} Languages:</h3>
    <ul >

      <li class="list" v-for="(value,key) in langs">{{key}}</li>

    </ul>
  </div>
    </div>
    </div>
  </div>

</template>

<script>


export default {
  name:'RepoLangQuery',

  data() {return {
    langs:{}
  }
  },
  methods:{

  },
  created:function() {
    this.$http.get('https://api.github.com/repos/heremaps/'+this.$route.params.name+'/languages')
      .then(function(response){
        this.langs = response.data;
        console.log(response.data);
      })
//    console.log(this.$route.params.name);
  }
}

</script>

<style scoped>

.contacted{
  text-decoration: line-through;
}

</style>
