<template>
  <div>

  <div class="col-md-3 col-xs-12">
    <div class="col-md-12 col-sm-3 col-xs-4 ">
      <img v-bind:src="user.avatar_url" class="img-responsive profilePic" alt="prfile Pic">
    </div>
    <div class="col-md-12 col-sm-9 col-xs-8">
      <p class="profilName">{{user.name}}</p><br>
      <a href="">
        <span class="profilEmail" v-if="user.email"></span>
      </a>
      <p class="block">{{user.bio}}</p>
      <p class="block">{{user.location}}</p>
      <p class="block"><a v-bind:href="user.blog" target="_blank">Developer Blog</a></p>
      <div class="col-xs-12">
        <hr class="profileLine">
      </div>
      <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
      <!--<a href="">sign in to view Email</a>-->
    </div>

  </div>
  <div class="col-md-9 col-xs-12 contentData2 contentData ">
    <ul>
      <li>Repositories<span> {{user.public_repos}}</span></li>
      <li>Followers<span> {{user.followers}}</span></li>
      <li>Following<span> {{user.following}}</span></li>
    </ul>

  </div>
  </div>



</template>

<script>


export default {
  name:'User',

  data() {
    return {
      newUser:{},
      user:[

      ]
    }
  },
  methods:{


  },
  created:function() {
    this.$http.get('https://api.github.com/users/heremaps')
      .then(function(response){
        this.user = response.data;
        console.log(response.data);
      })
  }
}

</script>
